@import "../../../../assets/styles/varaiables.scss";

.card {
  border-radius: 17px;
  background: #27272c;
  padding: 27px 25px 20px 28px;

  .text {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
  }

  .btn-group {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    .btn {
      border-radius: 2px;
      background: #1d1d20;
      color: $color-neutral;
      border: none;
      padding: 6px 16px;
      font-size: 1rem;
      font-weight: 700;
      line-height: normal;
    }

    .btn:nth-child(1) {
      margin-right: 11px;
    }
  }
}
